@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Exo 2", sans-serif;
    font-weight: 100;
}

.hover-effect {
    transition: transform 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.1); /* Увеличивает элемент до 110% */
  }

  .home_card {
    margin-right: 14px;
    margin-bottom: 14px;
  }
  